body {
    width: 100%;
    height: 100%;
    background: #212121;
}
.sentence {
    height: 100%;
    width: 100%;
    background-color: #212121;
}
.sentence h3 {
    margin: 30px 0 0 0;
    text-align: center;
    padding: 10px;
    color: hsl(190, 80%, 40%);
}
.sentence h6 {
    text-align: center;
}
.information {
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 0 0 30px;
    color: #ffffff;
}
#email {
    height: 50px;
    border-radius: 5px;
    width: 700px;
    margin: 0 0 0 500px;
}
#password {
    height: 50px;
    border-radius: 5px;
    width: 700px;
    margin: 0 0 0 500px;
}
#fname {
    height: 50px;
    border-radius: 5px;
    width: 700px;
    margin: 0 0 0 500px;
}
#lname {
    height: 50px;
    border-radius: 5px;
    width: 700px;
    margin: 0 0 0 500px;
}
#phone {
    height: 50px;
    border-radius: 5px;
    width: 700px;
    margin: 0 0 0 500px;
}
#submit {
    border-radius: 10px;
    height: 50px;
    margin: 0 0 0 650px;
    width: 400px;
    background-color: green;
}
#submit:hover {
    transform: scale(1.1);
}
.sentence h5 {
    margin: 30px 0 0 530px;
    color: #ffffff;
}
.sentence a {
    color: green;
}
.sentence:hover a {
    text-decoration: none;
    color: hsl(190, 90%, 45%);
}
