{% extends 'base.html' %}
{% block title %}
Post an Ad
{% endblock %}
{% block content %}      
<div id="step-2" style="display: block;">
  <div class="container_post_an_ad2">
    <div class="text-untop2">
      <h4><strong>Post ad</strong></h4>
      <a href="#" class="clear" onClick="window.location.reload();">Clear</a>
    </div>
    <div class="about_ad2">
      <p class="step-2">Ad Details</p>
    </div>
    <div class="category_location">
      <input class="Breeding-rabbit" value="Breeding Rabbit" type="text" disabled>
    </div>
    <form method="POST" class="ad-details" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      {{ form.title(placeholder="Title*", class="title") }}
      {{ form.breed(placeholder="Breed*", class="breed") }}
      {{ form.color(placeholder="Color*", class="color") }}
      {{ form.age(type="number", placeholder="Age(weeks)*", class="age") }}
      {{ form.category(placeholder="Category(weaner/grower/mature)*", class="Category") }}
      {{ form.price(type="number", placeholder="Price*", class="price") }}
      {{ form.weight(type="number", placeholder="Weight* (KG)", step="any", class="weight") }}
      {{ form.state(class="Location", placeholder="Location (State)") }}
      {{ form.description(maxlength="1000", placeholder="Description*", class="description") }}
      <p> </p>
      <h5>Add Photo</h5>
      <p> </p>
      <input type="file", class="myFile", name="file"  accept="image/*" width="200px" height="200px" required>
      {{ form.post_ad(id="next2", type="submit", value="POST AD") }}
    </form>
    <div class="upload-photo">
      <p>Each picture must not exceed 5 MB</p>
      <p>Supported formats are *.jpg, *.gif and *.png</p>
      </div>
    <div class="terms-condition">
      <p>By clicking on Post Ad, you accept the Terms of Use, confirm that you will abide by the Safety Tips, and declare that this posting does not include any false claims</p>
    </div>
  </div>
</div>
{% endblock %}
