{% extends 'base.html' %}
{% block title %}
Sign Up page
{% endblock %}
{% block content %}
<div class="sentence">
<h3><strong>Register via email and phone:</strong></h3>
<br>
	
<form method='POST' class="information">
  {{ form.hidden_tag() }}
  {{ form.email(type="email", placeholder="Email", id="email") }}
  <br>
  {{ form.password(type="password", placeholder="Password", id="password") }}
  <br>
  {{ form.firstname(placeholder="First name", id="fname") }}
  <br>
  {{ form.lastname(placeholder="Last name", id="lname") }}
  <br>
  {{ form.phone(type="number", placeholder="Phone(only digits)", id="phone") }}
  <br>
  {{ form.register(type="submit", value="Register", id="submit") }}
</form>

<h5>Already Registered?  <a href="{{url_for('main.sign_in')}}">  Sign In</a></h5>
</div>      
</header>
<footer>
</footer>
{% endblock %}
