.container_post_an_ad2 {
    width: 1000px;
    height: 1500px;
    background: repeating-linear-gradient(35deg, hsl(190, 80%, 60%), hsl(190, 80%, 40%), hsl(190, 90%, 60%));
    margin: 30px 0 0 400px;
    padding: 5px 70px 20px 70px;
}

.text-untop2 h4 {
    text-align: center;
    margin: 10px 0 0 0 ;
    padding: 20px;
    font-size: 40px;
}
.text-untop2 .clear {
    float: right;
    margin: -70px 20px 0 0;
    padding: 20px;
    text-decoration: none;
    color: #212121;
    font-size: 20px;
}
.text-untop2:hover a {
    color: red;
    transform: scale(1.2);
}
.about_ad2 {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0 0 0 ;
    padding: 10px;
}
.about_ad2 .step-2{
    text-align: center;
    background-color: hsl(180, 80%, 40%);
    border: black, 5px, solid;
    border-radius: 30px;
    width: 1000px;
    padding: 20px 0 20px 0;
    margin-left: -50px;
}
.category_location .Breeding-rabbit {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    background-color: #212121;
    border: black, 5px, solid;
    border-radius: 10px;
    width: 400px;
    padding: 20px 0 20px 0;
    margin: 0 0 0 250px;
}
.ad-details {
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px;
    grid-column-gap: 500px;
    grid-row-gap: 10px;
    margin: 10px 0 0 0 ;
    padding: 10px;
}
.ad-details h5 {
    margin: 30px 0 0 0 ;
    background-color: hsl(180, 90%, 45%);
}
.ad-details .title {
    font-size: 20px;
    background-color: #fffff;
    border: black, 5px, solid;
    border-radius: 10px;
    width: 400px;
    height: 50px;
    padding: 20px 0 20px 0;
}
.ad-details .breed {
    font-size: 20px;
    background-color: #fffff;
    border: black, 5px, solid;
    border-radius: 10px;
    width: 400px;
    height: 50px;
    margin: 0 0 0 -170px;
    padding: 20px 0 20px 0;
}
.ad-details .Category {
    font-size: 20px;
    background-color: #fffff;
    border: black, 5px, solid;
    border-radius: 10px;
    width: 400px;
    height: 50px;
    padding: 20px 0 20px 0;
}
.ad-details .color {
    font-size: 20px;
    background-color: #fffff;
    border: black, 5px, solid;
    border-radius: 10px;
    width: 400px;
    height: 50px;
    padding: 20px 0 20px 0;
}
.ad-details .age {
    font-size: 20px;
    background-color: #fffff;
    border: black, 5px, solid;
    border-radius: 10px;
    width: 400px;
    height: 50px;
    margin: 0 0 0 -170px;
    padding: 20px 0 20px 0;
}
.ad-details .price {
    font-size: 20px;
    background-color: #fffff;
    border: black, 5px, solid;
    border-radius: 10px;
    width: 400px;
    height: 50px;
    margin: 0 0 0 -170px;
    padding: 20px 0 20px 0;
}
.ad-details .weight {
    font-size: 20px;
    background-color: #fffff;
    border: black, 5px, solid;
    border-radius: 10px;
    width: 400px;
    height: 50px;
    padding: 20px 0 20px 0;
}
.ad-details .Location {
    font-size: 20px;
    background-color: #fffff;
    border: black, 5px, solid;
    border-radius: 10px;
    width: 400px;
    height: 50px;
    margin: 0 0 0 -170px;
    padding: 20px 0 20px 0;
}
.upload-photo {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
}
p {
    line-height: 0.8;
}
.ad-details .description {
    font-size: 20px;
    background-color: #fffff;
    border: black, 5px, solid;
    border-radius: 10px;
    width: 700px;
    height: 150px;
    margin: 40px 0 0 0;
    white-space: wrap;
}
.ad-details .myFile {
    margin: 20px 0 0 0;
    width: 100px;
}
#next2 {
    height: 50px;
    width: 300px;
    border-radius: 20px;
    background-color: #AFFAB0;
    margin: 200px 0 0 -350px;
}
#next2:hover {
    background-color: green;
    transform: scale(1.1);
}
.terms-condition p {
    margin: 150px;
    line-height: 1.2;
    white-space: wrap;
}
